.App {
  text-align: center;
}

.App-header {
  background-image: linear-gradient(45deg, #ffffff 25%, transparent 25%),
                    linear-gradient(-45deg, #ffffff 25%, transparent 25%),
                    linear-gradient(45deg, transparent 75%, #ffffff 75%),
                    linear-gradient(-45deg, transparent 75%, #ffffff 75%);
  background-size: 20px 20px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
}